<center>
  <br>
  <br>
  <%= button_to "Create User", users_path, remote: true %>
  <%= image_tag("https://unsplash.it/200/200", alt: "CSP Should Block This Image From Loading", id: "cspImg") %>
</center>
